{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'browser.css' %}" />
    <title>Browser</title>
  </head>
  <body>
    <div class="header">
      <img
        src="{% static 'images/loalogo.png' %}"
        class="loalogo"
        alt="Lyceum of Alabang Logo"
      />
      <h1>PasaBuy</h1>
    </div>

    <div class="page">
      <div class="boardcard">
        <h1>Live Campus Food Run & Request Board</h1>
        <p class="boarddescription">
          Authorized users may review active food requests, claim available
          delivery assignments, and facilitate campus-based food transfers
          between verified users.
        </p>

        <div class="orders-grid">
          <div class="order-card">
            <div class="card-meta">
              <span class="due-tag">⏱ Due by 1:30 PM</span>
              <span class="price-tag"
                >₱ 150 tip + <small>(FOOD COST)</small></span
              >
            </div>

            <h2>Jollibee 2-pc Chickenjoy & Peach Mango Pie — PDIC Bldg</h2>

            <p class="order-details">
              Authorized food request for 2-pc Chickenjoy with rice, large
              pineapple juice, and Peach Mango Pie from the Gate 2 branch.
              Delivery destination: Science Bldg, Room 304.
            </p>
            <br />

            <div class="user-info">
              <div class="user">AR</div>
              <div class="profile">
                <strong>Will Diether A.</strong>
                <p>VERIFIED ID</p>
              </div>
              <div class="rating">★ 4.9 (32)</div>
            </div>

            <button class="accept-btn" type="button">Claim Food Run</button>
          </div>

          <div class="order-card">
            <div class="card-meta">
              <span class="due-tag">⏱ Due by 1:30 PM</span>
              <span class="price-tag"
                >₱ 150 tip + <small>(FOOD COST)</small></span
              >
            </div>

            <h2>Jollibee 2-pc Chickenjoy & Peach Mango Pie — PDIC Bldg</h2>

            <p class="order-details">
              Authorized food request for 2-pc Chickenjoy with rice, large
              pineapple juice, and Peach Mango Pie from the Gate 2 branch.
              Delivery destination: Science Bldg, Room 304.
            </p>
            <br />

            <div class="user-info">
              <div class="user">AR</div>
              <div class="profile">
                <strong>Will Diether A.</strong>
                <p>VERIFIED ID</p>
              </div>
              <div class="rating">★ 4.9 (32)</div>
            </div>

            <button class="accept-btn" type="button">Claim Food Run</button>
          </div>

          <div class="order-card">
            <div class="card-meta">
              <span class="due-tag">⏱ Due by 1:30 PM</span>
              <span class="price-tag"
                >₱ 150 tip + <small>(FOOD COST)</small></span
              >
            </div>

            <h2>Jollibee 2-pc Chickenjoy & Peach Mango Pie — PDIC Bldg</h2>

            <p class="order-details">
              Authorized food request for 2-pc Chickenjoy with rice, large
              pineapple juice, and Peach Mango Pie from the Gate 2 branch.
              Delivery destination: Science Bldg, Room 304.
            </p>
            <br />

            <div class="user-info">
              <div class="user">AR</div>
              <div class="profile">
                <strong>Will Diether A.</strong>
                <p>VERIFIED ID</p>
              </div>
              <div class="rating">★ 4.9 (32)</div>
            </div>

            <button class="accept-btn" type="button">Claim Food Run</button>
          </div>

          <div class="order-card">
            <div class="card-meta">
              <span class="due-tag">⏱ Due by 1:30 PM</span>
              <span class="price-tag"
                >₱ 150 tip + <small>(FOOD COST)</small></span
              >
            </div>

            <h2>Jollibee 2-pc Chickenjoy & Peach Mango Pie — PDIC Bldg</h2>

            <p class="order-details">
              Authorized food request for 2-pc Chickenjoy with rice, large
              pineapple juice, and Peach Mango Pie from the Gate 2 branch.
              Delivery destination: Science Bldg, Room 304.
            </p>
            <br />

            <div class="user-info">
              <div class="user">AR</div>
              <div class="profile">
                <strong>Will Diether A.</strong>
                <p>VERIFIED ID</p>
              </div>
              <div class="rating">★ 4.9 (32)</div>
            </div>

            <button class="accept-btn" type="button">Claim Food Run</button>
          </div>

          <div class="order-card">
            <div class="card-meta">
              <span class="due-tag">⏱ Due by 1:30 PM</span>
              <span class="price-tag"
                >₱ 150 tip + <small>(FOOD COST)</small></span
              >
            </div>

            <h2>Jollibee 2-pc Chickenjoy & Peach Mango Pie — PDIC Bldg</h2>

            <p class="order-details">
              Authorized food request for 2-pc Chickenjoy with rice, large
              pineapple juice, and Peach Mango Pie from the Gate 2 branch.
              Delivery destination: Science Bldg, Room 304.
            </p>
            <br />

            <div class="user-info">
              <div class="user">AR</div>
              <div class="profile">
                <strong>Will Diether A.</strong>
                <p>VERIFIED ID</p>
              </div>
              <div class="rating">★ 4.9 (32)</div>
            </div>

            <button class="accept-btn" type="button">Claim Food Run</button>
          </div>

          <div class="order-card">
            <div class="card-meta">
              <span class="due-tag">⏱ Due by 1:30 PM</span>
              <span class="price-tag"
                >₱ 150 tip + <small>(FOOD COST)</small></span
              >
            </div>

            <h2>Jollibee 2-pc Chickenjoy & Peach Mango Pie — PDIC Bldg</h2>

            <p class="order-details">
              Authorized food request for 2-pc Chickenjoy with rice, large
              pineapple juice, and Peach Mango Pie from the Gate 2 branch.
              Delivery destination: Science Bldg, Room 304.
            </p>
            <br />

            <div class="user-info">
              <div class="user">AR</div>
              <div class="profile">
                <strong>Will Diether A.</strong>
                <p>VERIFIED ID</p>
              </div>
              <div class="rating">★ 4.9 (32)</div>
            </div>

            <button class="accept-btn" type="button">Claim Food Run</button>
          </div>

          <div class="order-card">
            <div class="card-meta">
              <span class="due-tag">⏱ Due by 1:30 PM</span>
              <span class="price-tag"
                >₱ 150 tip + <small>(FOOD COST)</small></span
              >
            </div>

            <h2>Jollibee 2-pc Chickenjoy & Peach Mango Pie — PDIC Bldg</h2>

            <p class="order-details">
              Authorized food request for 2-pc Chickenjoy with rice, large
              pineapple juice, and Peach Mango Pie from the Gate 2 branch.
              Delivery destination: Science Bldg, Room 304.
            </p>
            <br />

            <div class="user-info">
              <div class="user">AR</div>
              <div class="profile">
                <strong>Will Diether A.</strong>
                <p>VERIFIED ID</p>
              </div>
              <div class="rating">★ 4.9 (32)</div>
            </div>

            <button class="accept-btn" type="button">Claim Food Run</button>
          </div>

          <div class="order-card">
            <div class="card-meta">
              <span class="due-tag">⏱ Due by 1:30 PM</span>
              <span class="price-tag"
                >₱ 150 tip + <small>(FOOD COST)</small></span
              >
            </div>

            <h2>Jollibee 2-pc Chickenjoy & Peach Mango Pie — PDIC Bldg</h2>

            <p class="order-details">
              Authorized food request for 2-pc Chickenjoy with rice, large
              pineapple juice, and Peach Mango Pie from the Gate 2 branch.
              Delivery destination: Science Bldg, Room 304.
            </p>
            <br />

            <div class="user-info">
              <div class="user">AR</div>
              <div class="profile">
                <strong>Will Diether A.</strong>
                <p>VERIFIED ID</p>
              </div>
              <div class="rating">★ 4.9 (32)</div>
            </div>

            <button class="accept-btn" type="button">Claim Food Run</button>
          </div>

          <div class="order-card">
            <div class="card-meta">
              <span class="due-tag">⏱ Due by 1:30 PM</span>
              <span class="price-tag"
                >₱ 150 tip + <small>(FOOD COST)</small></span
              >
            </div>

            <h2>Jollibee 2-pc Chickenjoy & Peach Mango Pie — PDIC Bldg</h2>

            <p class="order-details">
              Authorized food request for 2-pc Chickenjoy with rice, large
              pineapple juice, and Peach Mango Pie from the Gate 2 branch.
              Delivery destination: Science Bldg, Room 304.
            </p>
            <br />

            <div class="user-info">
              <div class="user">AR</div>
              <div class="profile">
                <strong>Will Diether A.</strong>
                <p>VERIFIED ID</p>
              </div>
              <div class="rating">★ 4.9 (32)</div>
            </div>

            <button class="accept-btn" type="button">Claim Food Run</button>
          </div>

          <div class="order-card">
            <div class="card-meta">
              <span class="due-tag">⏱ Due by 1:30 PM</span>
              <span class="price-tag"
                >₱ 150 tip + <small>(FOOD COST)</small></span
              >
            </div>

            <h2>Jollibee 2-pc Chickenjoy & Peach Mango Pie — PDIC Bldg</h2>

            <p class="order-details">
              Authorized food request for 2-pc Chickenjoy with rice, large
              pineapple juice, and Peach Mango Pie from the Gate 2 branch.
              Delivery destination: Science Bldg, Room 304.
            </p>
            <br />

            <div class="user-info">
              <div class="user">AR</div>
              <div class="profile">
                <strong>Will Diether A.</strong>
                <p>VERIFIED ID</p>
              </div>
              <div class="rating">★ 4.9 (32)</div>
            </div>

            <button class="accept-btn" type="button">Claim Food Run</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
