<html>
<head>
    <link rel="stylesheet" href="uploadID.css">
    <link rel="stylesheet" href="style.css">
    <title>PasaBuy - Upload ID</title>
</head>
<body>

    <div class = "header">
        <img src="loalogo.png" class="loalogo">
        <h1>PasaBuy</h1>
    </div>

    <div class="page">

        <div class="authenticationcard">

            <div class="tabs">
                <button class="tab active" type="button">Sign In</button>
                <button class="tab" type="button">Log In</button>
            </div>

            <h1>Upload Institutional ID</h1>

            <p class="description">
                Provide clear scans of your current active identification credential.
            </p>

            <div class="protocol">◉ MANDATORY ACCESS PROTOCOL</div>

            <div class="id-grid">

                <div class="id-section">

                    <label>
                        <span>●</span> Front of Institutional ID <b>*</b>
                    </label>

                    <div class="upload-box">
                        <p>Drag &amp; Drop front of ID,</p>
                        <a href="#">or browse</a>
                    </div>

                    <div class="id-actions">
                        <button type="button">↻ Retake</button>
                        <button type="button">▮ Delete</button>
                    </div>

                </div>


                <div class="id-section">

                    <label>
                        <span>●</span> Back of Institutional ID <b>*</b>
                    </label>

                    <div class="upload-box">
                        <p>Drag &amp; Drop back of ID,</p>
                        <a href="#">or browse</a>
                    </div>

                    <div class="id-actions">
                        <button type="button">↻ Retake</button>
                        <button type="button">▮ Delete</button>
                    </div>

                </div>

            </div>

            <label class="affirmation">
                    <input type="checkbox" required>
                    <div>
                        I solemnly affirm that this card credential belongs directly to me, is
                        legally unaltered, and represents my current standing at Lyceum of
                        Alabang Inc. Submitting fraudulent credentials invokes institutional
                        disciplinary sanction and immediate revocation of PasaBuy portal
                        credentials.
                    </div>
                </label>









            <button class="submit-btn" type="button">
                ♙ &nbsp; Submit for Verification
            </button>

        </div>

    </div>

</body>
</html>